<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Car Price Prediction-ML App</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/external-becris-flat-becris/64/000000/external-machine-learning-data-science-becris-flat-becris.png">
  </head>
  <body style="text-align: center;color: deeppink; background-image:url('static/bgimg.jpg');">
    <h2 style="padding-left: 5px;padding-right: 5px;box-shadow: 0px 2px 10px 13px;display: inline-block;">ML APPLICATION FOR CAR PRICE PREDICTION</h2>

    <form action="{{url_for('prediction')}}" method="post">
      <!--1 present price--><br>
      <b><label for="price">What was the Buying Price(in Lakhs):</label
      ></b><br /><br />
      <input placeholder="           Enter Price" type="text" name="price" autofocus /><br /><br />

      <!--2 KMS Driven-->
      <b><label for="kms">How many KMS drove:</label></b><br /><br />
      <input style="background-color" placeholder="           Enter KMS" type="text" name="kms" /><br /><br />

      <!--3 Owner-->
      <b><label for="owner">Choose how many members owned the Car earlier:</label
      ></b><br /><br />
      <select  name="owner" id="owner" required style="width: 170px">
        <option value="" disabled selected>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Choose Owners--</option>
        <option value="0">No Owners Earlier</option>
        <option value="1">One Owner</option>
        <option value="3">3 Owners</option></select
      ><br /><br />

      <!--4 Fuel Type-->
      <b><label for="fuel">Fuel type of the Car:</label></b><br /><br />
      <select name="fuel" id="fuel" style="width: 170px" required>
        <option value="" disabled selected>&nbsp;&nbsp;&nbsp;--Choose Fuel Type--</option>
        <option value="Petrol">Petrol</option>
        <option value="Diesel">Diesel</option>
        <option value="CNG">CNG</option></select
      ><br /><br />

      <!--5 Seller Type-->
      <b><label for="seller">Which Type Of Seller:</label></b><br /><br />
      <select name="seller" id="seller" style="width: 170px" required>
        <option value="" disabled selected>&nbsp;&nbsp;--Choose Seller Type--</option>
        <option value="Dealer">Dealer</option>
        <option value="Individual">Individual</option></select
      ><br /><br />

      <!--6 Transmission Type-->
      <b><label for="trans">Transmission Type of Vehicle:</label></b><br /><br />
      <select name="trans" id="trans" style="width: 170px" required>
        <option value="" disabled selected>--Choose Transmission Type--</option>
        <option value="Manual">Manual</option>
        <option value="Automatic">Automatic</option></select
      ><br /><br />

      <!--7 Car Age-->
      <b><label for="age">What is the Car Age(in Years):</label></b><br /><br />
      <input placeholder="              Enter Age" type="text" name="age" /><br /><br />

      <input style="background-color:black;border-radius: 20px;padding: 10px;box-shadow: 0px 2px 15px 5px;width: 120px;color: greenyellow;text-shadow: 2cm;" type="submit" value="PREDICT" /><br /><br />
  
    </form>
   
 
  </body>
</html>
