<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <form action="/st" method="post">
      <label for="python">Python</label>
      <input type="text" id="python" name="python" /><br /><br />

      <label for="ML">ML</label>
      <input type="text" id="ML" name="ML" /><br /><br />

      <label for="NLP">NLP</label>
      <input type="text" id="NLP" name="NLP" /><br /><br />

      <input type="Submit" value="Click to SUbmit" />
    </form>
    this is output {{res}}
  </body>
</html>
